* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #FDE8D3;
    font-size: 1.5em;
}

header {
    display: flex;
    background-color: #657166;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 4vw;
}

.logo {
    height: 6vh;
}

.nav {
    height: 10vh;
    line-height: 10vh;
    padding: 0 2vw;
}

a, button {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

a:active,
.active {
    background-color: #99CDD8;
    padding: 2vh 4vw;
    border: none;
    border-radius: 5vh;
    transition: background-color 0.5s ease;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 2vw;
    font-size: 1em;
}

.nav_links li a:hover {
    color: #FDE8D3;
}

footer {
    display: flex;
    background-color: #657166;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 5vw;
    margin-top: 5vh;
}

.medias {
    width: 4vw;
}


/* --- HOME PAGE --- */
.photo {
    height: 80vh;
    float: right;
    position: relative;
}

.main_title {
    margin-left: 10vw;
    margin-top: 12vh;
    margin-bottom: 0;
    font-size: 3em; 
}

.main_text {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 1vh;
    width: 40vw;
    position: absolute;
    font-size: 0.8em;
}

.empty {
    background-color: #657166;
    height: 25vh;
    width: 100%;
    margin-top: 35vh;
}

.acent {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 1em;
    color: black;
    font-style: italic;
    margin: 0;
    text-align: center;
    padding-bottom: 2vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 8vw;
    gap: 1vw;
}

.cont {
    background-color: white;
    width: 26vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_img {
    width: 20vw;
    height: 20vw;
    padding: 2vh;
}

button {
    background-color: #99CDD8;
    border: none;
    border-radius: 5vh;
    width: 20vw;
    height: 9vh;
    margin-bottom: 2.4vh;
    transition: transform 0.5s;
    font-family: 'Fredoka', sans-serif;
    font-size: 1em;
}

button:hover {
    transform: scale(1.1);
}

.facts {
    margin-top: 2.4vh;
    padding: 1.2vh;
    background-color: #657166;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts ul {
    position: relative;
    background-color: white;
    color: black;
    padding: 3vh;
}

.facts ul li {
    list-style: none;
    box-shadow: 0 0.5vh 3vh rgba(0, 0, 0, .1);
    padding: 1vh;
    font-size: 0.5em;
}

.facts ul li span {
    height: 3vh; 
    width: 3vh;
    background: #657166;
    color: black;
    text-align: center;
    line-height: 2.5vh; 
    display: inline-block;
    padding: 1vh; 
    margin: 1vh;
    margin-right: 2.5vw;
}

.cont_text {
    width: 14vw;
    font-size: 0.5em;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

/* --- ABOUT PAGE --- */
.main_subtitle {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.8vh;
    margin-bottom: 0;
}

.main_text_about {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12.8vh;
    font-size: 0.5em;
}

.missions {
    padding: 2.4vh;
    background-color: #657166;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missions ol {
    position: relative;
    padding: 2.4vh;
}

.missions ol li {
    padding: 1.33vh;
    font-size: 1em;
}

.team_table {
    margin-top: 4.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.team_table tr {
    text-align: center;
    background-color: white;
}

.team_table td {
    padding: 1vh;
}

.head_name {
    font-size: 1em;
    text-align: center;
    background-color: #FDE8D3;
}

.pos_text {
    color: #99CDD8;
}

/* --- PLATFORMS --- */
.main_subtext {
    font-size: 0.5em;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
}

.popular {
    background-color: #657166;
    color: white;
    padding: 2.67vh;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12.8vh;
}

.plats_table {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 60vw;
    padding: 2vh;
    font-size: 0.5em;
}

.plats_table a {
    text-decoration: none;
    color: black;
}

.plats_table td {
    width: 20vw;
    text-align: center;
    border: 0.1vw solid black;
    padding: 1.5vh;
    border-collapse: collapse;
}

.names {
    background-color: rgba(101, 113, 102, 0.3);
}

.subtitle {
    font-size: 0.7em;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-top: 13vh;
}


/* --- CONTACT PAGE --- */

#contact_page {
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-painted-whitewash-background_23-2151171148.jpg?t=st=1710172503~exp=1710176103~hmac=14a237558845b7c54937dbd1c1f35a5c77c193461f934fffa0e2217fa7bb0309&w=826);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12.8vh;
    padding-bottom: 20vh;
}

.cont_container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 13vw;
}

.contact-box {
    max-width: 95vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #657166;
    box-shadow: 0px 0px 1.8vw 0.4vw rgba(0, 0, 0, 0.19);
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100%;
    color: white;
}

.right {
    padding: 2vh 5vw;
    background-color: white;
    margin: 2vh;
    border-radius: 4vw;
}

h2 {
    position: relative;
    padding: 0 0 1.33vh;
    margin-bottom: 1vh;
    font-size: 1em;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1vh;
    width: 5vw;
    border-radius: 2vw;
    background-color: #2ecc71;
}

.field {
    width: 90%;
    border: 0.1vw solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.7vh 1vw;
    font-size: 0.5em;
    margin-bottom: 1vh;
    transition: .3s;
    border-radius: 2vw;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 12vh;
}

.field:focus {
    border: 0.13vw solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

.main_subtitle_1 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12.8vh;
    margin: 0;
}

.cont_us {
    font-size: 2em;
}

.adress {
    color: rgb(184, 255, 255) !important;
}

#frame {
    border: 2px solid #6f6f6f;
    width: 100vw;
    height: 150px;
    float: right;
    margin-bottom: 10px;
    margin-top: 24px;
}


@media only screen and (max-width: 600px) {
    html, body {
        font-size: 0.5em; 
        row-gap: 1vw;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        padding: 2vh 5vw;
    }

    .cont {
        width: 50vw;
    }
}