* {
    font-family: 'Fredoka', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FDE8D3;
    box-sizing: border-box;
    font-size: 2vh; 
    row-gap: 1vh;
}

@media only screen and (max-width: 600px) {
    html, body {
        font-size: 3vw; 
        row-gap: 1vw;
    }
}

@media only screen and (max-width: 400px) {
    html, body {
        font-size: 4vw;
        row-gap: 2vw;
    }
}

li, a, button {
    text-decoration: none;
}

header {
    display: flex;
    background-color: #657166;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 6.67vw;
    margin: 0;
}

.logo {
    margin-right: auto;
    height: 9vh;
}

.nav {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    padding: 0 4vw;
}

a:active {
    background-color: #99CDD8;
    padding: 2.67vh 4vw;
    border: none;
    border-radius: 5vh;
    transition: 0.5s ease;
}

.active {
    background-color: #99CDD8;
    padding: 2.67vh 4vw;
    border: none;
    border-radius: 5vh;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 2.67vw;
}

.nav_links li a {
    color: white;
}

.nav_links li a:hover {
    color: #FDE8D3;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

footer {
    display: flex;
    background-color: #657166;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 5vw; 
    margin-top: 5.4vh; 
}

.medias {
    width: 4vw;
}


/* --- HOME PAGE --- */
.photo {
    height: 75vh;
    float: right;
    position: relative;
}

.main_title {
    margin-left: 13vw;
    margin-top: 12vh;
    font-size: 10vw; 
}

.main_text {
    margin-top: 5vh;
    margin-left: 13vw;
    margin-bottom: 1vh;
    width: 40vw;
    position: absolute;
}

.empty {
    background-color: #657166;
    height: 25vh;
    width: 100%;
    margin-top: 35vh;
}

.acent {
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 2vw;
    color: black;
    font-style: italic;
    margin: 0;
    text-align: center;
    padding-bottom: 2vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 8vw;
    gap: 1vw;
}

.cont {
    background-color: white;
    width: 28vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        padding: 2vh 5vw;
    }

    .cont {
        width: 50vw;
    }
}
.top_img {
    width: 23vw;
    height: 23vw;
    padding: 2vh;
}

button {
    background-color: #99CDD8;
    border: none;
    border-radius: 5vh;
    width: 20vw;
    height: 5vh;
    margin-bottom: 2.4vh;
    transition: transform 0.5s;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.6vw;
}

button:hover {
    transform: scale(1.1);
}

.facts {
    margin-top: 2.4vh;
    padding: 1.2vh;
    background-color: #657166;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts ul {
    position: relative;
    background-color: white;
    color: black;
    padding: 2.4vh;
}

.facts ul li {
    list-style: none;
    box-shadow: 0 0.5vh 3vh rgba(0, 0, 0, .1);
    padding: 0.5vh;
}

.facts ul li span {
    height: 2.5vh; 
    width: 2.5vh;
    background: #657166;
    color: black;
    text-align: center;
    line-height: 2.5vh; 
    display: inline-block;
    padding: 0.6vh; 
    margin: 0.6vh;
    margin-right: 2.5vw;
}

.cont_text {
    width: 20vw;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

/* --- ABOUT PAGE --- */
.main_subtitle {
    font-size: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.8vh;
}

.main_text_about {
    width: 50vw;
    text-align: center;
    padding-left: 42vw;
    margin-bottom: 12.8vh;
}

.missions {
    padding: 2.4vh;
    background-color: #657166;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missions ol {
    position: relative;
    padding: 2.4vh;
}

.missions ol li {
    padding: 1.33vh;
}

.team_table {
    margin-top: 4.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_table tr {
    text-align: center;
    background-color: white;
}

.head_name {
    font-size: 4.8vw;
    text-align: center;
    background-color: #FDE8D3;
}

.pos_text {
    color: #99CDD8;
}

/* --- PLATFORMS --- */
.main_subtext {
    font-size: 1.33vw;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
}

.popular {
    background-color: #657166;
    color: white;
    padding-top: 2.67vh;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.67vh;
    margin-top: 12.8vh;
}

.plats_table {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 60vw;
    padding: 2.67vh;
}

.plats_table a {
    text-decoration: none;
    color: black;
}

.plats_table td {
    width: 20vw;
    text-align: center;
    border: 0.067vw solid black;
    padding: 1.5vh;
    border-collapse: collapse;
}

.names {
    background-color: rgba(101, 113, 102, 0.3);
}

.subtitle {
    font-size: 5.33vw;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-top: 13.3vh;
}


/* --- CONTACT PAGE --- */

#contact_page {
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-painted-whitewash-background_23-2151171148.jpg?t=st=1710172503~exp=1710176103~hmac=14a237558845b7c54937dbd1c1f35a5c77c193461f934fffa0e2217fa7bb0309&w=826);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding-top: 12.8vh;
    padding-bottom: 20vh;
}

.cont_container{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.67vh 13.33vw;
}

.contact-box{
	max-width: 94.12vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #657166;
	box-shadow: 0px 0px 1.85vw 0.416vw rgba(0,0,0,0.19);
}

.left{
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	height: 100%;
    color: white;
}

.right{
	padding: 2.08vh 5.33vw;
    background-color: white;
    margin: 2.67vh;
    border-radius: 4vw;
}

h2{
	position: relative;
	padding: 0 0 1.33vh;
	margin-bottom: 1.33vh;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 0.53vh;
    width: 5.33vw;
    border-radius: 2.67vw;
    background-color: #2ecc71;
}

.field{
	width: 90%;
	border: 0.13vw solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.67vh 1.33vw;
	font-size: 1.1vw;
	margin-bottom: 1.47vh;
	transition: .3s;
    border-radius: 2vw;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 11.33vh;
}

.field:focus{
    border: 0.13vw solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.main_subtitle_1 {
    font-size: 12.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12.8vh;
    margin: 0;
}

.cont_us {
    font-size: 4.8vw;
}

.adress {
    color:rgb(184, 255, 255)!important;
}