* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Madimi+One', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe3c7;
}

.content {
    position: relative;
    text-align: center;
    padding-right: 20vw;
}

.content h2 {
    position: absolute;
    font-size: 8em;
    margin: 0;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #f403d4;
}

.content h2:nth-child(2) {
    color: #f403d4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0 56%, 6% 39%, 18% 36%, 29% 42%, 39% 47%, 48% 55%, 56% 60%, 65% 56%, 74% 50%, 83% 50%, 90% 54%, 100% 59%, 100% 100%, 0 100%, 0 85%);
    }
    50% {
        clip-path: polygon(0 78%, 3% 66%, 11% 61%, 24% 57%, 35% 55%, 48% 55%, 61% 63%, 69% 56%, 73% 46%, 81% 36%, 91% 29%, 100% 24%, 100% 100%, 0 80%, 0 70%);
    }
}

